<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/frontend/css/mainPage.css">
	<link rel="stylesheet" href="/frontend/css/all.min.css">
	<title>grit:forum</title>
</head>

<body>
	 <!-- Reset post Method -->
	 <script>
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
		}
	</script>
	<!--navebar -->
	<header>
		<a href="/main" class="logo"><i class="fa-solid fa-laptop-code logo_icon"></i><span>grit:forum</span></a>

		<div class="main" id="USER">
			<div class="user_link" style="padding-right: 40px;"><a href="/profile?Username={{.Username}}"><i class="fa-solid fa-circle-user"
						style="display: inline;"></i><span id="UserName">{{.Username}}</span></a></div>
						<form action="" method="POST">
							<div class="user_link" style="padding-right: 40px;">
							 <button class="logout_button" name="Logout" value="Logout" type="submit">
							   <i class="fa-solid fa-arrow-right-to-bracket" style="display: inline;"></i>
						   <span>Logout</span>
						 </button>
					   </div>
					 </form> 
			<div class="menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>
		</div>
		<div class="main" id="GUEST">
			<div id:="guest" class="user_link" style="padding-right: 40px;">
				<a href="/login" class="user"><i class="fa-solid fa-user"></i><span>Login</span></a>
				<a href="/register"><span>Register</span></a>
			</div>
		</div>
	</header>
	<div class="content">

		<!--Post box-->
		<div class="snippet">
		<!-- 	<div class="all_topic">
				<h1>All topic</h1>
				<h4>Welcome message</h4>
			</div> -->
			<!-- Start Post Loop -->
			{{range .Posts}}
			<div class="topic_box">
				<div class="left_box">
					<div class="like">
						<span class="numb">{{.Likes}}</span>
						<span class="like">like</span>
					</div>
					<div class="unlike">
						<span class="numb">{{.Dislikes}}</span>
						<span class="unlike">dislike</span>
					</div>
					<div class="comments">
						<span class="numb">{{.TotalComments}}</span>
						<span class="comments">comments</span>
					</div>
				</div>
				<div class="main_box">
					<h3><a href="/content?postId={{.PostId}}" class="post_link">{{.Title}}</a></h3>
					<div class="post_text">{{.Content}}
					</div>
					<div class="inform_box">
						<div class="post_topic">
							<ul class="topic_list">
								{{range .Topics}}
								<li><a href="/main?TopicName={{.}}">{{.}}</a></li>
								{{end}}
							</ul>
						</div>
						<div class="post_maker"><span><a href="/profile?Username={{.Username}}">{{.Username}}</a> {{.CreationTime}}</span></div>
					</div>

				</div>
			</div>
			{{end}}
			<!-- End Post Loop -->
		</div>
		<!--right side div-->
		<div class="right_side">
			<div class="side_bar">
				<ol class="nav_link">
					<li class="home_link">
						<a href="/main">
							<div class="text_box">
								<div>Home</div>
							</div>
						</a>
					</li>
					<li class="post_link" id="post_link">
						<a href="/post">
							<div class="text_box">
								<div>Post</div>
							</div>
						</a>
					</li>
					<li>
						<ol class="nav_link">
							<li class="head_line"><span>All Topics</span> </li>
							<!-- Start Loop Topics -->
							{{range .Topics}}
							<li class="topic_list"> <a href="/main?TopicName={{.}}" class="">
									<span>{{.}}</span>
								</a></li>
							{{end}}
							<!-- End Loop Topics -->
						</ol>
					</li>
				</ol>
			</div>
		</div>

	</div>
	<script src="/frontend/js/mainPage.js"></script>
	<script type="module">
		import {checkUser,alertMessage} from '/frontend/js/modulfile.js'
		alertMessage({{.CookieMessage}})
		checkUser()
	</script>
</body>
</html>